{% extends "core/base.html" %}
{% block title %} - Experiencia{% endblock %}
{% block content %}
{% load static %} 

<main>
    <div class="content-central">
            <div class="content-left">
                <span>EXPERIENCIA</span><br>
                <p>Con más de 20 años de experiencia como músico y docente profesional, te ofrezco una sólida formación musical. <br><br>
                Como músico, he tocado en diversos escenarios, desde clubes locales hasta grandes auditorios. <br><br>
                Como profesor, he trabajado con estudiantes de todas las edades y niveles. <br><br>
                Mi objetivo es inspirarte y ayudarte a disfrutar del aprendizaje musical. <br><br>
                Si deseas desarrollar tus habilidades en batería, guitarra o bajo, contáctame para programar tu primera clase.  <br><br>
                ¡Hagamos música juntos!</p>
            </div>
            <div class="content-left"><img src="{% static 'core/images/experiencia.png' %}" width="100" class="imagenExperiencia"></div>            
    </div>
</main>
{% endblock %}

</body>
</html>
